<%include partials/header%>
<html>
<body>
	<%include partials/navbar%>
	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s6">
					<ul class="collapsible">
						<li>
							<div class="collapsible-header">
								<i class="material-icons">filter_drama</i>
								Friend requests
								<%if (friend_requests.filter(req => !req.isRead).length) {%>
								<span class="new badge"><%=friend_requests.filter(req => !req.isRead).length%></span></div>
								<%} else {%>
								<span class="badge"><%=friend_requests.filter(req => req.isRead).length%></span></div>
								<%}%>
								<div class="collapsible-body">
									<%friend_requests.forEach(request => {%>
									<div class="row" id="friend-request <%=request.member_id%>">
										<a href="#!" class="col s7"><%=request.friend_name%></a>
										<a class="waves-effect waves-light btn-small col s2" onclick="accept_friend_request(this)">accept</a>
										<a class="waves-effect waves-light btn-small btn-default grey lighten-3 col s2 offset-s1"  onclick="decline_friend_request(this)">decline</a>
									</div>								
									<%})%>
								</div>
							</li>
							<li>
								<div class="collapsible-header">
									<i class="material-icons">place</i>
									Notifications
									<span class="badge">1</span></div>
									<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
								</li>
							</ul>
						</div>
						<div class="col s6">
						</div>
					</div>
					<div class="row">
						<form class="col s12">
							<div class="row">
								<div class="col s12">
									<div class="card">
										<div class="card-content">
											<div class="row">
												<span class="card-title">What's on your mind?</span>
											</div>
											<div class="input-field">
												<i class="material-icons prefix">announcement</i>
												<textarea id="icon_prefix2" class="materialize-textarea"></textarea>
												<label for="icon_prefix2">Write status</label>
											</div>
										</div>
										<div class="card-action">
											<a class="waves-effect waves-light btn" id="submit_status_button"><i class="material-icons right">send</i>POST</a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="section">
					<div class="row">
						<div class="col s4" >
							<ul class="collection with-header" id="find-friends">
								<li class="collection-header"><h4>Find friends</h4></li>
								<li>
									<div class="col s4 offset-s4 center-align" style="margin-top: 10%; margin-bottom: 10%">
										<div class="preloader-wrapper big active">
											<div class="spinner-layer spinner-spang-only">
												<div class="circle-clipper left">
													<div class="circle"></div>
												</div><div class="gap-patch">
													<div class="circle"></div>
												</div><div class="circle-clipper right">
													<div class="circle"></div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>		
						<div class="col s8" id="user_statuses">
							<%user_statuses.forEach(function(user_status) {%>
							<div class="card horizontal">
								<div class="card-image">	
									<% if (!user_status.profile_pic) {%>
									<i class="material-icons" style="margin: 30; color: #ee6e73; font-size: 7rem; display: block;">face</i>
									<%} else {%>
									<img src="http://localhost:3000/user_profile_images/<%=user_status.profile_pic%>">
									<%}%>
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<span class="card-title"><%=user_status.name%> @ <%=user_status.status_date.toLocaleString()%></span>
										<%=user_status.user_status%>
									</div>
									<div class="card-action">
										<form class="col s12">
											<div class="input-field col s12">
												<i class="material-icons prefix">mode_edit</i>
												<textarea id="icon_prefix3" class="materialize-textarea"></textarea>
												<label for="icon_prefix3">Comment</label>
											</div>
										</form>
									</div>
								</div>
							</div>	
							<%})%>
						</div>
					</div>
				</div>
				<div class="row"></div>
				<%include partials/footer%>
			</body>
			<script>
				$(".dropdown-trigger").dropdown();

				$("#submit_status_button").on("click", function(){
					var status_val = $("#icon_prefix2").val();
					$("#icon_prefix2").val("");

					$.ajax({
						url: "/user_status/create",
						method: "POST",
						contentType: "application/json",
						data: JSON.stringify({"user_status": status_val}),
						success: function(saved_status){
							var profile_pic = `<i class="material-icons" style="margin: 30; color: #ee6e73; font-size: 7rem; display: block;">face</i>`;
							$("#user_statuses").prepend(`<div class="card horizontal"><div class="card-image">	
								${profile_pic}
								</div>
								<div class="card-stacked">
								<div class="card-content">
								<span class="card-title">${saved_status.name} @${saved_status.status_date.toLocaleString()}</span>
								${saved_status.user_status}
								</div>
								<div class="card-action">
								<a href="#">Comment</a>
								</div>
								</div>
								</div>`);

						},
						err: function(){

						}
					})
				});

				document.addEventListener("DOMContentLoaded", function(event) { 
					$.ajax({
						url: "/find_friends",
						method: "GET",
						contentType: "application/json",
						success: function(friend_list){
							document.getElementById('find-friends').innerHTML = friend_list;
						},
						err: function(){

						}
					})
				});

				$(".material-icons add_friend").on("click", function () {
					console.log("klik!")
					var clicked_button = $(this);
					$.ajax({
						method:"POST",
						url:"/friend_request",
						contentType: "application/json",
						data: JSON.stringify({"friend_member_id": clicked_button.attr("id")}),
						success: function() {
							clicked_button.closest("collection-item").remove();
							M.toast({html: 'Friend request sent!'})
						},
						error: function () {
							console.log("oops")
							M.toast({html: 'Something went wrong.'})
						}

					});
				})

				function add_friend(id) {
					console.log(id);
					$.ajax({
						method:"POST",
						url:"/friend_request",
						contentType: "application/json",
						data: JSON.stringify({"friend_member_id": id}),
						success: function() {
							$('#' + id).parent().parent().fadeOut();
							M.toast({html: 'Friend request sent!'})
						},
						error: function () {
							console.log("oops")
							M.toast({html: 'Something went wrong.'})
						}

					});
				}

				$(document).ready(function(){
					$('.collapsible').collapsible();
				});

				function accept_friend_request(elem){
					var friend_member_id = $(elem).parent().attr("id").split(' ')[1];
					$.ajax({
						method: "POST",
						url: "/accept_friend_request",
						contentType: "application/json",
						data: JSON.stringify({"member_id": friend_member_id}),
						success: function(){
							$(elem).parent().fadeOut();
						},
						error: function(){
							M.toast({html: 'Something went wrong.'})
						}
					})
				};

				function decline_friend_request(elem){
					var friend_member_id = $(elem).parent().attr("id").split(' ')[1];
					$.ajax({
						method: "POST",
						url: "/decline_friend_request",
						contentType: "application/json",
						data: JSON.stringify({"member_id": friend_member_id}),
						success: function(){
							$(elem).parent().fadeOut();
						},
						error: function(){
							M.toast({html: 'Something went wrong.'})
						}
					})
				}

			</script>
			</html>