<%include partials/header%>
<html>
<body>
	<div class="navbar-fixed">
		<ul id="dropdown1" class="dropdown-content">
			<li><a href="#!">Profile</a></li>
			<li><a href="#!">Settings</a></li>
			<li><a href="" id="log_out_user">Log out</a></li>
		</ul>
		<nav>
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo"><i class="material-icons">favorite_border</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%=name%><i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="col s3"></div>
					<div class="col s6">
						<div class="card">
							<div class="card-content">
								<div class="row">
									<span class="card-title">What's on your mind?</span>
								</div>
								<div class="input-field">
									<i class="material-icons prefix">announcement</i>
									<textarea id="icon_prefix2" class="materialize-textarea"></textarea>
									<label for="icon_prefix2">Write status</label>
								</div>
							</div>
							<div class="card-action">
								<a class="waves-effect waves-light btn" id="submit_status_button"><i class="material-icons right">send</i>POST</a>
							</div>
						</div>
					</div>
					<div class="col s3"></div>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col s3"></div>		
			<div class="col s6">
				<%user_statuses.forEach(function(user_status) {%>
				<div class="card horizontal">
					<div class="card-image">
						<img src="http://localhost:3000/user_profile_images/<%=user_status.profile_pic%>">
					</div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title"><%=user_status.name%> @ <%=user_status.status_date.toLocaleString()%></span>
							<%=user_status.user_status%>
						</div>
						<div class="card-action">
							<a href="#">Comment</a>
						</div>
					</div>
				</div>	
				<%})%>
			</div>
		
			<div class="col s3"></div>
		</div>
		<div class="row"></div>
		<%include partials/footer%>
	</body>
	<script>
		$(".dropdown-trigger").dropdown();

		$("#submit_status_button").on("click", function(){
			var status_val = $("#icon_prefix2").val();
			$("#icon_prefix2").val("");

			$.ajax({
				url: "/user_status/create",
				method: "POST",
				contentType: "application/json",
				data: JSON.stringify({"user_status": status_val}),
				success: function(saved_status){
					$(".user_statuses").append("<li class='clearfix'><img src='http://localhost:3000/user_profile_images/" + saved_status.profile_pic + "'><div class='poster_name'>" + saved_status.name + "</div><p>" + status_val + "</p></li>");
				},
				err: function(){

				}
			})
		});

		$("#log_out_user").on("click", function(){
			$.ajax({
				url: "/logout",
				method: "POST",
				success: function(){
					location.href = "http://localhost:3000";
				},
				error: function(){

				}
			});
		})
	</script>
	</html>