<html>
<%include partials/header%>
<body>
	<%include partials/navbar%>
	<div class="carousel carousel-slider">
		<a class="carousel-item" href="#one!"><img src="/images/landing2.jpg"></a>
		<a class="carousel-item" href="#two!"><img src="/images/landing1.jpg"></a>
		<a class="carousel-item" href="#three!"><img src="/images/2000.jpg"></a>
	</div>								
	<div class="row">
		<div class="col s3">
			<ul class="collection with-header">	<!--isFriend: {0 - user nije prijatelj; 1 - user je korisnik; 2 - user je prijatelj-->
				<li class="collection-header"><h4><%=user.name%></h4></li>
				<li class="collection-item"></li>
				<li class="collection-item"><i class="material-icons">location_on</i>  <%=user.user_profile[0].location%></li>
				<li class="collection-item"><i class="material-icons">email</i>  <%=user.email%></li>
				<li class="collection-item"><%user.user_profile[0].interests.forEach(function(interest) {%>
					<div class="chip">
						<%=interest.replace('"', '').replace("[", "").replace("]", "").replace('"','')%>
					</div>
					<%})%></li>
				</ul>
				<div class="collection">
					<a href="#!" class="chat_button" id="<%=user.member_id%>" onclick="openChat()">Send message</a>
					<a href="#!" class="collection-item">Unfriend</a>
					<a href="#!" class="collection-item">Edit</a>
				</div>
			</div>

			<div class="col s9">
				<ul class="collection">
					<li class="collection-item"><%=user.user_profile[0].bio%></li>
				</ul>
				<div class="row">
					<div class="col s12">
						<ul class="tabs">
							<li class="tab col s4"><a href="#test1">Timeline</a></li>
							<li class="tab col s4"><a href="#test2">Photos</a></li>
							<li class="tab col s4" onclick="display_Friends()"><a class="active" href="#test4">Friends</a></li>
						</ul>
					</div>
				</div>
				<div class="row" id="current_tab">
					
				</div>
			</div>
		</div>

		<div id="modal1" class="modal">
			<div id="chat_title_section" class="modal-content">
				<div class="section">
					<h4>Send message to <%=user.name%></h4>
				</div>
				<div class="divider"></div>
				<div id="all_chat_messages" class="section">
					<div class="row">
						<form class="col s12">
							<div class="input-field">
								<textarea id="send_message_input" class="materialize-textarea"></textarea>
								<label for="textarea1">Message</label>
							</div>
						</form>
					</div>
					<div id="send_message" class="modal-footer">		
						<a class="waves-effect waves-light btn right"><i class="material-icons right">message</i>SEND</a>
					</div>
				</div>
			</div>				
		</div>

		
		<script>

			var socket = io();   //establishing a websocket connnection with a server
			socket.emit("attach_user_info", {"member_id": "<%=member_id%>", "user_name": "<%=name%>"})		//emitting user information to the server.js for a unique messaging experience

			function display_Friends(){
				$.ajax({
					url: "/user_profile/<%=user.member_id%>/friends",
					method: "GET",
					contentType: "application/json",
					success: function(friends){
						document.getElementById('current_tab').innerHTML = friends;
					},
					err: function(){

					}
				})

			}

			$('.carousel.carousel-slider').carousel({
				fullWidth: true
			});

			$(document).ready(function(){
				$('.tabs').tabs();
			});

			$("#accept_friend_request").on("click", function(){
				var friend_member_id = $(this).parent().attr("id");
				$.ajax({
					method: "POST",
					url: "/accept_friend_request",
					contentType: "application/json",
					data: JSON.stringify({"member_id": friend_member_id}),
					success: function(){

					}
				})
			});
			$("#modal1").modal();
			function openChat(){

				
				$("#modal1").modal('open');

				socket.on("message_from_server", function(received_msg){
					$("#all_chat_messages").append("<div class ='usr_msg'>" + 
						"<span class='user_with_message'>" + received_msg.user_name + ":" + "</span>" +
						"<div class='usr_msg_box'>" + 
						"<p>" + received_msg.msg + "</p>" +
						"</div>" + 
						"</div"
					)
				})

				$(document).on("keypress", "#send_message_input", function(e){
					if(e.keyCode === 13){
						var chat_message_content = $(this).val();
						$("#all_chat_messages").append("<div class ='usr_msg'>" + 
							"<span class='user_with_message'>You:</span>" +
							"<div class='usr_msg_box'>" + 
							"<p>" + chat_message_content + "</p>" +
							"</div>" + 
							"</div"
							)
						socket.emit("message_from_client", {"msg": chat_message_content, 
							"friend_member_id": $(".chat_button").attr("id")})
						$(this).val("");
					}
				})

				$(".chat_close").on("click", function(){
					$("#modal1").modal('close');
				})
			}

			


			/*console.log(" i tu!");
			$("#modal1").modal();
			$("#modal1").modal('open');
			$(".chat_close").on("click", function(){
				$("#modal1").modal('close');
			})*/
			

		</script>
		</html>