<html>
<%include partials/header%>
<body>
	<%include partials/navbar%>
	<div class="carousel carousel-slider">
		<a class="carousel-item" href="#one!"><img src="/images/landing2.jpg"></a>
		<a class="carousel-item" href="#two!"><img src="/images/landing1.jpg"></a>
		<a class="carousel-item" href="#three!"><img src="/images/2000.jpg"></a>
	</div>
	<div class="row">
		<div class="col s3">
			<ul class="collection with-header">
				<li class="collection-header"><h4><%=user.name%></h4></li>
				<li class="collection-item"></li>
				<li class="collection-item"><i class="material-icons">location_on</i>  <%=user.user_profile[0].location%></li>
				<li class="collection-item"><i class="material-icons">email</i>  <%=user.email%></li>
				<li class="collection-item"><%user.user_profile[0].interests.forEach(function(interest) {%>
					<div class="chip">
						<%=interest.replace('"', '').replace("[", "").replace("]", "").replace('"','')%>
					</div>
					<%})%></li>
				</ul>
				<div class="collection">
					<a href="#!" class="collection-item">Send message</a>
					<a href="#!" class="collection-item">Unfriend</a>
					<a href="#!" class="collection-item">Edit</a>
				</div>
			</div>

			<div class="col s9">
				<ul class="collection">
					<li class="collection-item"><%=user.user_profile[0].bio%></li>
				</ul>
				<div class="row">
					<div class="col s12">
						<ul class="tabs">
							<li class="tab col s4"><a href="#test1">Timeline</a></li>
							<li class="tab col s4"><a href="#test2">Photos</a></li>
							<li class="tab col s4" onclick="display_Friends()"><a class="active" href="#test4">Friends</a></li>
						</ul>
					</div>
				</div>
				<div class="row" id="current_tab">
					
				</div>
			</div>
		</div>
		<button id="edit_profile_button" type="button">Edit</button>
		<div style="display:none" id="edit_profile_form_container">
			<form id="edit_profile_form">
				<ul>
					<li>
						<label for="name">Name</label>
						<input type="text" name ="name" value="<%=user.name%>">
					</li>
					<li>
						<label for="location">Location</label>
						<input type="text" name ="location" value="<%=user.user_profile[0].location%>">
					</li>
					<li>
						<label for="bio">Bio</label>
						<textarea rows="3" cols ="40" name="bio"><%=user.user_profile[0].bio%></textarea>
					</li>
					<li>
						<label for="interests">Interests</label>
						<textarea rows="1" cols ="40" name="interests"><%=user.user_profile[0].interests%></textarea>
					</li>
					<li>
						<label for="profile_pic">Profile Picture</label>
						<input id="upload_profile_pic" type="file" onchange="uploadProfileImage()">
					</li>
				</ul>
				<button id="save_profile_button" type="button">Save</button>
				<button id="cancel_edit_profile" type ="button">Cancel</button>
			</form>
		</div>
	
	</body>
	<script>
		$("#save_profile_button").on("click", function(){
			$.ajax({
				method: "POST",
				url: "/user_profile/edit",
				data: $("#edit_profile_form").serialize(),
				success: function(){
					$("#edit_profile_form_container").hide();
					location.reload();
				}
			})
		})

		$("#edit_profile_button").on("click", function(){
			$("#edit_profile_form_container").show();
		});

		$("#cancel_edit_profile").on("click", function(){
			$("#edit_profile_form_container").hide();
		});

		function display_Friends(){
			$.ajax({
				url: "/friends",
				method: "GET",
				contentType: "application/json",
				success: function(friends){
					document.getElementById('current_tab').innerHTML = friends;
				},
				err: function(){

				}
			})

		}

		function uploadProfileImage(){
			var image_to_upload = $("#upload_profile_pic")[0].files[0];
			console.log("image_to_upload", image_to_upload);
			var reader = new FileReader();
			reader.readAsDataURL(image_to_upload);
			reader.onload = function(){
				var image_data = {"image_data": reader.result.split(',')[1], "image_type": image_to_upload.type.split("/")[1]};
				$.ajax({
					method: "POST",
					url: "profile_pic/upload",
					data: JSON.stringify(image_data),
					contentType: "application/json",
					success: function(updated_profile_pic) {
						$(".profile_info img").remove();
						$("#profile_picture_div").append(`<img src="http://localhost:3000/user_profile_images/${updated_profile_pic}">`);
					}
				})
			}
		}
		$('.carousel.carousel-slider').carousel({
			fullWidth: true
		});

		$(document).ready(function(){
			$('.tabs').tabs();
		});

		$("#accept_friend_request").on("click", function(){
			var friend_member_id = $(this).parent().attr("id");
			$.ajax({
				method: "POST",
				url: "/accept_friend_request",
				contentType: "application/json",
				data: JSON.stringify({"member_id": friend_member_id}),
				success: function(){

				}
			})
		});

	</script>
	</html>